# >>> External ports
DB_PORT=
API_PORT=
# <<< External ports
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=
DATABASE_URL=mysql+pymysql://${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@db:3306/${MYSQL_DATABASE}

FILESTORE_ADDRESS=0.0.0.0:9010
FILESTORE_ACCESS_KEY=root
FILESTORE_SECRET_KEY=rootroot
FILESTORE_BUCKET=
FILESTORE_SHOULD_CREATE_BUCKET=true
